/* Style hier wiederverwendbare Elemente wie bestimmte buttons oder andere Elemente, die auf mehreren Seiten auftauchen könnten */
#inpNewNote,
#inpNewNoteTitle {
    margin: 16px;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

.stdBtn {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
}

.deleteBtn {
    background-color: red;
}

.deleteBtn:hover {
    background-color: rgb(255, 67, 67);
}

.trashBtn {
    background-color: orange;
}

.trashBtn:hover {
    background-color: rgb(255, 188, 64);
}


.archiveBtn {
    background-color: blue;
}

.archiveBtn:hover {
    background-color: rgb(36, 36, 253);
}

.noteBtn {
    background-color: green;
}

.noteBtn:hover {
    background-color: rgb(13, 124, 13);
}