/* Style hier wiederverwendbare Elemente wie bestimmte buttons oder andere Elemente, die auf mehreren Seiten auftauchen könnten */
#inpNewNote,
#inpNewNoteTitle {
    margin: 16px;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

.stdBtn {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    border-radius: 8px;
}

.stdBtn:hover {
    color: white;
}

.deleteBtn:hover {
    background-color: red;
}

.trashBtn:hover {
    background-color: orange;
}

.archiveBtn:hover {
    background-color: blue;
}

.noteBtn:hover {
    background-color: green;
    color: white;
}