.note {

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    min-width: 250px;
    color: white;
}

.normalNote {
    background-color: green;
}

.trashNote {
    background-color: orange;
}

.archiveNote {
    background-color: blue;
}

.note__info {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
}

.note__info h3 {
    text-decoration: underline;
}


.note__info p {
    font-size: 24px;
}

.note__control {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}